.Habitaciones{
    background-image: url('.././images/habitaciones_patron.svg');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    position: relative;
}

.TitulosCentradosMovile{
    display:none
}

.ImagenHabitacion{
    cursor: pointer;
}

.custom-shape-divider-bottom-1710877318 .shape-fill2 {
    fill: #FCF9F5;
}

/*Media Query para celulares normales*/
@media (min-width:361px) and (max-width: 599px) {
.Menu {
      display: none !important; 
}
.TitulosCentradosMovile{
    display:inline;
    font-size: 1.25rem !important;
    margin: 0 !important;
    padding: 30px 0 20px 0;
}
.Habitaciones{
    height: auto;  

}

.TitulosCentrados{
    font-size: 2rem;
    margin: 0;
    padding: 48.38px;
}
.Incluye{
    width: 90% ;
    margin: auto !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    display: flex;
   font-size: 1rem !important;
}
.ImagenHabitacion{
      margin-top: 0 ;
}
.cajaCompleta {
        flex-direction: column;
}
.MenuMovil{
    margin-top: 50px ;
    margin-right: 48px ;
    padding-bottom: 48.38px;
}
#desHab{
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  width: 90%;
  margin: 0;
  font-size: 1.25rem; /* Tamaño predeterminado */
  line-height: 130%;
  text-align: "center";
  display: flex;
  align-items: center ;
  text-align: center;
  color: #000000;
}
.ImagenContainer{
    padding: 12.5px;
}
.ImagenContainer #secundaria1,
.ImagenContainer #secundaria2{
    margin-top: -5px;
}
}

@media (min-width:321px) and (max-width:360px){
    .Menu {
        display: none !important; 
  }
  .TitulosCentradosMovile{
      display:inline;
      font-size: 1.25rem !important;
      margin: 0 !important;
      padding: 30px 0 20px 0;
  }
  
  .TitulosCentrados{
      font-size: 2rem;
      margin: 0;
      padding: 48.38px;
  }
  .css-wd3bf8{
    height: auto !important;
}
  .Incluye{
      width: 90% ;
      margin: auto !important;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100px;
      display: flex;
     font-size: 1rem !important;
  }
  .ImagenHabitacion{
        margin-top: 0 ;
  }
  .cajaCompleta {
          flex-direction: column;
  }
  .MenuMovil{
      margin-top: 20px ;
      margin-right: 48px ;
      padding-bottom: 48.38px;
  }
  #desHab{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    width: 90%;
    margin: 0;
    padding-bottom: 20px;
    font-size: 1.25rem; /* Tamaño predeterminado */
    line-height: 130%;
    text-align: "center";
    display: flex;
    align-items: center ;
    text-align: center;
    color: #000000;
  }
  .ImagenContainer{
      padding: 12.5px;
  }
  .ImagenContainer #secundaria1,
  .ImagenContainer #secundaria2{
      margin-top: -5px;
  }
}
 
@media  (max-width: 320px) {
    .Menu {
          display: none !important ; 
    }
    .TitulosCentradosMovile{
        display:inline;
        font-size: 1.5rem !important;
        margin: 0 !important;
    }
    .TitulosCentrados{
        font-size: 1.5rem;
        margin: 0;
        padding: 48.38px;
    }
    .Habitaciones{
        height: auto; 
    }
    .Incluye{
        width: 100% ;
        text-align: center;
        font-size: 1rem !important ;
        justify-content: center;
        align-items: center;
        height: 100px;
        display: flex;
       
    }
    .ImagenHabitacion{
          margin-top: 0 ;
    }
    .cajaCompleta {
            flex-direction: column;
    }
    .MenuMovil{
        margin-top: 20px ;
        margin-right: 48px ;
        padding-bottom: 48.38px;
    }
    .css-wd3bf8{
        height: auto !important;
    }
    #desHab{
      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 300;
      margin: 0;
      padding-bottom: 48.38px;
      font-size: 1.25rem; /* Tamaño predeterminado */
      line-height: 130%;
      text-align: "center";
      display: flex;
      align-items: center ;
      text-align: center;
      color: #000000;
    }
    .ImagenContainer{
        padding: 12.5px;
    }
    .ImagenContainer #secundaria1,
    .ImagenContainer #secundaria2{
        margin-top: -5px;
    }
}

@media (min-width:600px) and (max-width:1022px){
    .Menu {
        display: none !important;
    }

  .TitulosCentradosMovile{
      display:inline;
      font-size: 2rem !important;
      margin: 0 !important;
      padding-bottom: 20px;
  }
  .MenuMovil{
    margin-top: 30px ;
    margin-right: 48px ;
    padding-bottom: 48.38px;
}
  .TitulosCentrados{
    font-size: 2.5rem;
    padding: 48.38px 0;
    margin: 0;
  }
  .Incluye{
      width: 100% ;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100px;
      display: flex;
     
  }
  .cajaCompleta {
          flex-direction: column;
          height: auto !important;
          padding-bottom: 10px;

  }

  .descCentrada{
    width: 90%;
    margin: 0;
    padding-bottom: 48.38px;
    text-align: center;
    font-size: 1.625rem !important;
    line-height: 130%;
 }
  #desHab{
  max-height: 250px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem; /* Tamaño predeterminado */
    line-height: 130%;
    text-align: "center";
    display: flex;
    align-items: center ;
    text-align: center;
    color: #000000;
  }
  .ImagenContainer{
    padding: 12.5px;
}
.ImagenContainer #secundaria1,
.ImagenContainer #secundaria2{
    margin-top: -5px;
}
}
 
  @media (min-width: 1023px) and (max-width:1277px) {
 .MenuMovil{
    display: none !important ;
 }
 .Menu{
    padding-left: 10% !important;
    margin-top: -5%;
 }
 .descCentrada{
    width: 60%;
    margin: 0;
    text-align: center;
    font-size: 1.625rem;
    line-height: 130%;
    padding-bottom: 48.38px;

 }
 .TitulosCentrados{
    padding: 48.38PX;
    margin: 0;
    font-size: 2.5rem;
 }
 .Habitaciones{
    padding-bottom: 50px;
    height: auto;
 }
 .Incluye{
    font-size: 1.25rem !important;
 }
.ImagenHabitacion{
    width: 60%;
}

#principal{

    width: 90%;
    height: 60% !important;

}
#secundaria1{
    margin-top: -40%;
    width: 90%;
}
#secundaria2{
    margin-top: -40%;
    width: 90%;
    margin-left: -10%;
}
.css-wd3bf8{
    height: auto !important;
    padding-bottom: 90px;
}
}

@media (min-width: 1279px) {
    .MenuMovil{
       display: none !important ;
    }
   .TitulosCentrados{
    font-size: 2.5rem;
    padding: 48.38px;
    margin: 0;
   }
    .descCentrada{
       width: auto;
       text-align: center;
       font-size: 1.625rem;
       line-height: 130% !important;
       margin: 0;
    }
    .ImagenContainer {
       width: auto;
    }
    .Habitaciones{
      padding-bottom: 50px;
    }
    .css-wd3bf8{
        height: auto !important;
    }
   }


