.seccionActividades {
  /* Añadir imagen de fondo */
  background-image: url('.././images/habitaciones_patron.svg');
  /* Hacer que la imagen de fondo se quede fija */
  background-attachment: fixed;
  /* Asegurar que la imagen cubra el espacio disponible */
  background-size: cover;
  /* Centrar la imagen de fondo */
  background-position: center;
  /* Establecer una altura para la sección para que el efecto sea más notable */
}
    /* Estilos para Desktop */
    .actividadesFotos {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .imagenActividades {
      width: 320px; /* Ajusta el ancho de cada imagen */
      display: absolute;
      align-items: center;
      position: relative; 
    }
  .imagenActividades img {
      width: 320px;
      object-fit: cover; /* Ajusta el tamaño de la imagen sin deformarla */
    }
  .imagenesRow {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-bottom: 48.38px;
    }
  .seccionActividades {
      background-color: #FFFFFF;
      width: 100%;
      position:relative;
      display:flex; /* Convertido en un contenedor flex */
      flex-direction: column; /* Alinear los elementos verticalmente */
      justify-content: center; /* Centrar verticalmente los elementos */
      align-items: center; /* Centrar horizontalmente los elementos */
    }
  .subtituloActividadess {
    width: 60%;
    margin: 0;
    padding: 0 0 48.38px 0;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    justify-content: center ;
    font-size: 1.625rem;
    line-height: 130%;
    display: flex;
    align-items: center; /* Centrar horizontalmente los elementos */
    color: #000000;
    }
  .tituloActividadess {
    padding: 48.38px 0;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 50px;
  color: #582114;
  margin: 0;

    }
  .imagenActividades::before {
      content: ""; /* Agrega un pseudo-elemento */
      position: absolute; /* Posiciona el pseudo-elemento */
      top: 0; /* Coloca el pseudo-elemento en la parte superior */
      left: 0; /* Coloca el pseudo-elemento en la parte izquierda */
      width: 320px; /* Ancho completo del contenedor */
      height: 100%; /* Altura completa del contenedor */
      background-color: #582114; /* Color de fondo */
      opacity: 0.7; /* Opacidad del color de fondo */
      z-index: 99; /* Mueve el pseudo-elemento detrás de las imágenes */
      transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
      transform: scaleY(-1);
    }
  .imagenActividades:hover::before {
      opacity: 0.96; /* Opacidad del color de fondo al hacer hover */
    }
  .imagenActividades .original-text3{
      position: absolute;
      font-size: 2rem !important;
      top: 60%; /* Ajusta la posición vertical según tus necesidades */
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 999;
      padding: 10px;
      text-align: center;
      width: 80%; /* Ancho del texto */
      transition: opacity 0.3s ease; /* Transición suave de opacidad */
      opacity: 1; /* Establece la opacidad predeterminada */
    }
  .imagenActividades:hover .original-text3{
      opacity: 1; /* Establece la opacidad a 1 al hacer hover */
      top: 20%;
      font-size: 1.625rem !important; 
      width: 80%;
    }
    .imagenActividades .hola123{
      position: absolute;
      font-size: 1.4rem;
      top: 60% !important; /* Ajusta la posición vertical según tus necesidades */
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 999;
      padding: 10px;
      line-height: 1.1;
      text-align: center;
      width: 80%; /* Ancho del texto */
      transition: opacity 0.3s ease; /* Transición suave de opacidad */
      opacity: 0; /* Establece la opacidad predeterminada */
    }
    .imagenActividades:hover .hola123{
      opacity: 1;
      top: 15vh
    }
@media only screen and  (max-width: 1023px) {
    .seccionActividades{
      display: none;
    }
}

@media only screen and  (min-width: 1024px) and (max-width:1105px){
  .imagenActividades{
    width: 240px;
  }
  .imagenActividades img{
    width: 240px;
  }
  .imagenActividades::before{
    width: 240px;
  }
  .actividadesFotos{
    width: 100%;
  }
  .imagenActividades .hola123{
    font-size: 1.25rem;
    top:65% !important
  }
}
@media only screen and  (min-width: 1106px) and (max-width:1280px){
  .imagenActividades{
    width: 250px;
  }
  .imagenActividades img{
    width: 250px;
  }
  .imagenActividades::before{
    width: 250px;
  }
  .actividadesFotos{
    width: 90%;
  }
  .imagenActividades .hola123{
    font-size: 1.25rem;
    top:65% !important
  }
}